ul {
  list-style-type:none;
  padding: 0;
}

li {
  background-color: lightgrey;
  margin: 2px;

  color: black;
  float: left;

}


a{
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
}

a:hover {
  background-color: grey;
  color: white;
}
