img {
    display: block;
    margin: auto;
    width: 90%;
}

ul {
  list-style-type:none;
  padding: 0;
  margin: 0 auto;
  width:38%;
}
li {
  background-color: dimgrey;
  margin: 10px;
  text-align: center;
  color: black;
  float: left;
}
a{
  text-decoration: none;
  color: orange;
  padding: 20px;
  display: block;
}
a:hover {
  background-color: dimgrey;
  color: white;
}

.clear {
  clear:both;
}

#container {
  width:900px;
  margin: 0 auto;
}

#maincontent {

  margin-left: auto;
  margin-right: auto;
  background-color: green;
  width: 90%;
  height: 500px;

  color: white;
  text-align: center;
  font-family: serif;

}

.clear {
  clear:both;
}

#footer {
  background-color: blue;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  color: white;
  text-align: center;
  font-family: serif;
  display: block;
  margin: auto;
  width: 90%;
}
