#container {
  width: 900px;
  margin: 0 auto;
}

#header {
  background-color: lightgrey;
  padding: 10px;
  height: 70px;
  text-align: center;
  margin-bottom: 10px;
}

.leftitem {
  background-color: lightgrey;
  margin-bottom: 10px;
  width: 600px;
  height: 100px;
  float: left;
  text-align: center;
}

#rightmenu {
  float: right;
  background-color: lightgrey;
  width: 290px;
  height:430px;
  text-align: center;
}
